<% if @lists.empty? %>
  <h3>You haven't created any lists yet.</h3>
<% else %>
 <h3>Here are all your lists:</h3>
  <div class="column col-md-9 list-group">
    <% @lists.each do |list| %>
      <a class="list-group-item" href="/lists/<%=list.id%>"><%=list.name%></a>
    <% end %>
  </div>
  <div class="column col-md-3 list-group">
    <% @lists.each do |list| %>
      <a class="list-group-item btn btn-danger" role="button" href="/lists/<%=list.id%>/delete">X</a>
    <% end %>
  </div>
<% end %>

<div class="row">
  <a href="/lists/new">Create New List</a>
</div>
