<% if @lists.empty? %>
  <h3>You haven't created any lists yet.</h3>
<% else %>
 <h3>Here are all your lists:</h3>
  <div class="list-group">
    <% @lists.each do |list| %>
    <a class="list-group-item" href="/lists/<%=list.id%>"><%=list.name%></a>
    <% end %>
  </div>
<% end %>

<div class="row">
  <a href="/lists/new">Create New List</a>
</div>
